.viewing {
    padding: $pd-3 + 2;
    .viewing__content {
        width: 90%;
        margin: 0 auto;
        h2 {
            font-size: $fs-3 + 2;
        }
    }
    // max-width: 1350px;
    @include resposive("screen-1") {
        .courses__content {
            .card {
                .card-body {
                    .card-title {
                        @include styleText($color-black-0, $fs-1, $fw-1);
                        margin-bottom: $mg-3;
                    }
                }
            }
        }
    }
}
